.main-view {
  border: 1px solid magenta;
  display: grid;
  grid-template-columns: 250px 3fr 250px;
  min-height: 80vh;
}

.panel {
  border: 1px solid black;
}

.page-view {
  background-color: magenta;
}

.prop-editor {
  font-size: 11pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.prop-editor label {
  white-space: nowrap;
  margin-right: 0.5rem;
}
.prop-editor input {
  min-width: 50px;
}
