button {
    background-color: var(--button-default-background-normal);
    border: 0.5px solid var(--button-default-border-normal);
    color: var(--button-default-color-normal);
    margin: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 100%;
    font-weight: bold;
}
button:hover {
    background-color: var(--button-default-background-hover);
}
button:active {
    background-color: var(--button-default-background-active);
}
button:disabled {
    background-color: var(--button-default-background-disabled);
    color: var(--button-default-color-disabled);
}

button.primary {
    background-color: var(--button-primary-background-normal);
    border: 1px solid var(--button-primary-border-normal);
    color: var(--button-primary-color-normal);
}

button.primary:disabled {
    background-color: var(--button-primary-background-disabled);
}


.icon-button {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
}


.toolbar {
    display: flex;
    flex-direction: row;
    border: 0.5px solid black;
    background-color: var(--slate-500);
}
.toolbar > * {
    margin: 0;
}
.toolbar > button {
    border-width:  0 0.5px 0 0;
}
.toolbar > button:last-child {
    border-right-width: 0;
}

.borderless {
    border-color: transparent;
    background-color: var(--panel-background);
}
.borderless:hover {
    background-color: var(--button-borderless-background-hover);
}

.menu-box {
    border: 1px solid var(--button-default-border-normal);
    color: var(--button-default-color-normal);
    display: flex;
    flex-direction: column;
}
.menu-box button, .menu-button {
    padding: 0.5rem 1.0rem;
    display: flex;
    flex-direction: row;
    margin:0;
    align-items: center;
    justify-content: start;
}
.menu-box button:hover, .menu-button:hover {
    background-color: var(--button-default-background-hover);
}
.menu-button:active {
    background-color: var(--button-default-background-active);
}


.selectable {
    border: 0px solid var(--slate-200);
    border-color: transparent;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
}
.selectable:hover {
    background-color: var(--button-primary-background-hover);
}
.selectable.selected {
    border-color: var(--button-primary-border-normal);
    background-color: var(--button-primary-background-normal);
    color: var(--selected-text-color);
}
.selectable.selected:hover {
    background-color: var(--button-primary-background-hover);
}

.action-search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.action-search-box input {
    border: 1px solid var(--button-default-border-normal);
    padding: 0.5rem;
}


.menu-action-description {
    border: 1px solid black;
    margin: 0.5rem;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.menu-action-description b {
    padding: 0.5rem;
    margin: 0;
    text-transform: uppercase;
}
.menu-action-description p {
    padding: 0.5rem;
    margin: 0.5rem;
    margin: 0;
}
.menu-action-description button {
    margin: 0.5rem;
}


.value-thumbnail {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.value-thumbnail > b {
    padding-right: 1rem;
}

.proxy-value-thumbnail {
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: yellow;
    border-radius: 0.5rem;
}

.proxy-value-thumbnail b {
    padding-left: 0.5rem;
}
