body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --panel-background: #efeeee;
  --button-background-normal: #b4b3b3;
  --button-background-hover: #35ffff;
  --button-background-active: #a2ffff;
  --button-background-selected: #14f8d3;
  --slate-700: #eee;
  --slate-300: #666;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
