.prop-sheet {
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    align-items: center;
    align-self: start;
    gap: 10px;
    padding: 0.5rem;
}
.prop-sheet label {
    grid-column-start: 1;
    align-self: end;
    text-align: end;
}
.prop-sheet .proxy-switch {
    grid-column-start: 2;
}
.prop-sheet input, .prop-sheet .input {
    grid-column-start: 3;
    align-self: center;
    min-width: 30px;
}


.color-swatch-button {
    width: 32px;
    height: 32px;
}
.color-picker-wrapper {
    position: relative;
}
.color-picker-wrapper .popover {
    border: 1px solid black;
    position: absolute;
    width: 300px;
    height: 200px;
    right: 0;
    top: 0;
}
.color-picker-wrapper .cover {
    border: 0px solid blue;
}

.color-picker {
    border: 1px solid red;
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: 200px;
    flex-wrap: wrap;
}
.color-picker button {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    margin: 0;
}
.color-picker button.selected {
    border: 1px solid white;
}

.tabbed-color-picker {
    border: 1px solid black;
    background-color: white;
}
